<div class="backdrop">
  <div id="trello" class='signing row'>
    <div id="sidebar" class='col-xs-3'></div>
    <div id="main" class='col-xs-9'></div>
  </div>
</div>
<script>$(TrelloClone.initialize);</script>
